ion-content {
    --background: rgb(236, 206, 163);
  }

 h5 {
   font-style: italic;
   font-size: 25px;
   font-weight: bold;
}


.card {
  background: rgb(160, 68, 68);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;

}

.btn {
    --color: #000;
    --font-size: 1 rem;
    --font-style: italic;
    --background: rgb(255, 255, 255);
    --border-radius: 15px;
    --border-color:  rgb(180, 180, 180);
    width: 80%;
    height: 45px;
    margin: 12px;
 }

 ion-card-content {

  font-style: italic;
  color: black;
  font-size: 20px;
 }

 .avatar{
  margin-bottom: 10px;
}

.avatar,
.avatar__img {
  width: 100px;
  height: 100px;
}

.avatar__img {
  border: 2px solid rgb(41, 41, 41);
  margin-bottom: 5px;
}
