ion-content {
    --background: rgb(236, 206, 163);
  }

.icon {
    font-size: 64px;
}

h5 {
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
 }

 ion-item {
   font-style: italic;
   font-size: 14px;
   --border-radius: 20px;
   text-align: center;
 }
