<ion-header>
    <ion-toolbar>
      categories
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item [routerLink]="['/form']" (click)="service.getCategory('Computers')">
          <ion-row>
            <ion-col>
              <ion-icon class="icon" name="school"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label >Computers</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item [routerLink]="['/form']" (click)="service.getCategory('General')">
          <ion-row>
            <ion-col>
              <ion-icon class="icon" name="desktop"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label>General</ion-label>
            </ion-col>
          </ion-row>
        </ion-item >
      </ion-col>
      <ion-col>
        <ion-item [routerLink]="['/form']" (click)="service.getCategory('Nature')">
          <ion-row>
            <ion-col>
              <ion-icon class="icon" name="globe"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label>Nature</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item [routerLink]="['/form']" (click)="service.getCategory('History')">
          <ion-row>
            <ion-col>
              <ion-icon class="icon" name="paper"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label>History</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item [routerLink]="['/form']" (click)="service.getCategory('Geography')" >
          <ion-row>
            <ion-col>
              <ion-icon class="icon" name="flask"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label>Geography</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item [routerLink]="['/form']" (click)="service.getCategory('Maths')">
          <ion-row>
            <ion-col>
              <ion-icon class="icon" name="calculator"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label>Maths</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>