ion-content {
    --background: rgb(236, 206, 163);
  }

 h5 {
   font-style: italic;
   font-size: 25px;
   font-weight: bold;
}

h2 {
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
 }

