<ion-header>
  <ion-toolbar>
    <ion-title>Results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-item>
        <ion-label>Number of Question: {{ service.amountOfQuestions }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Number of correct answers {{ service.amountOfCorrectAnswers }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Number of wrong answers: {{ service.amountOfIncorrectAnswers }} </ion-label>
      </ion-item>
      
<ion-button [routerLink]="['/categories']" color="primary">back to category</ion-button>
</ion-content>

