ion-content {
    --background: rgb(236, 206, 163);
  }

 .btn {
    --color: #000;
    --font-size: 1 rem;
    --font-style: italic;
    --background: rgb(255, 255, 255);
    --border-radius: 15px;
    --border-color:  rgb(180, 180, 180);
    width: 80%;
    height: 45px;
    margin: 12px;
 }