<ion-header>
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <h2>Select Difficulty</h2>
      </ion-list-header>

      <ion-item>
        <ion-label>Easy</ion-label>
        <ion-radio value="easy"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Medium</ion-label>
        <ion-radio value="medium"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Hard</ion-label>
        <ion-radio value="hard"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <h2>Select Type</h2>
      </ion-list-header>

      <ion-item>
        <ion-label>Multiple Choice</ion-label>
        <ion-radio value="multiple-choice"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>True / False</ion-label>
        <ion-radio value="true-false"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>


</ion-content>