
<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <h2>Select Difficulty</h2>
      </ion-list-header>

      <ion-item (click)="service.getDifficulty('easy')">
        <ion-label>Easy</ion-label>
        <ion-radio value="easy" checked></ion-radio>
      </ion-item>

      <ion-item (click)="service.getDifficulty('medium')">
        <ion-label>Medium</ion-label>
        <ion-radio value="medium"></ion-radio>
      </ion-item>

      <ion-item (click)="service.getDifficulty('hard')">
        <ion-label>Hard</ion-label>
        <ion-radio value="hard"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <h2>Select Type</h2>
      </ion-list-header>

      <ion-item (click)="service.getAnswearType('multiple')">
        <ion-label>Multiple Choice</ion-label>
        <ion-radio value="multiple-choice" checked></ion-radio>
      </ion-item>

      <ion-item (click)="service.getAnswearType('boolean')">
        <ion-label>True / False</ion-label>
        <ion-radio value="true-false" ></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
<ion-row>
  <ion-col size="12" class="ion-text-center">
     <ion-button class="btn" fill="outline" [routerLink]="['/questions']"  (click)="service.getQuestions()" >Start a quiz</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" class="ion-text-center">
     <ion-button class="btn" fill="outline" [routerLink]="['/categories']">back to category</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" class="ion-text-center">
     <ion-button class="btn" fill="outline" [routerLink]="['/home']">back to menu</ion-button>
  </ion-col>
</ion-row>
</ion-content>