<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="http://localhost:8100/assets/img/logo.jpg" alt="Quiz Logo" class="logo__img">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button class="btn" color="dark" fill="outline">LOGIN</ion-button>
      </ion-col>
      <ion-col class="ion-text-left">
        <ion-button class="btn" color="dark" fill="outline">SIGNUP</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-input type="text" class="input" placeholder="username"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="password" class="input" placeholder="password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="password" class="input" placeholder="repeat password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="email" class="input" placeholder="email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button class="btn--light" color="dark" fill="outline">SIGN UP</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>