ion-content {
  --background: url("../../../assets/img/background.jpg");
}

.logo__img {
  width: 50vw;
  display: block;
  margin: 0 auto;
  border: 10px solid rgb(135, 135, 135);
  border-radius: 50%;
}
