<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="http://localhost:8100/assets/img/logo.jpg" alt="Quiz Logo" class="logo__img">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        LOGIN

      </ion-col>
      <ion-col>
        SIGNUP
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            INPUT USERNAME
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            INPUT PASSWORD
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            INPUT PASSWORD2
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            INPUT EMAIL
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            BUTTON SIGNUP
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>