<ion-header>
  <ion-toolbar>
    <app-user-header></app-user-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn" fill="outline" [routerLink]="['/categories']" (click)="setQuizType(false)">Start a quiz</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn" fill="outline" [routerLink]="['/opponent']" (click)="setQuizType(true)">Start a duel</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn" fill="outline" [routerLink]="['/available-duels']">Available duels</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn" fill="outline" [routerLink]="['/ranking']">Check ranking</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn" fill="outline" *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign off</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>